.dropbtn {
    background-color: white;
    color: black;
    padding: 5px 10px;
    font-size: 15px;
    border: none;
    font-weight: BOLD;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin: auto 25px;
    margin-top: 10px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width:180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -180px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 5px 6px;
    text-decoration: none;
    display: flex;
    width: auto;
  }
  
  .dropdown-content a:hover {background-color: #fff;}
  
  .dropdown:hover .dropdown-content {display: flex;}
  
  .dropdown:hover .dropbtn {color: rgb(248,83,168);}
  .dropdown:hover .dropbtn {box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}
  #linkbox{
      display: flex;
  }
 
  .top{
    display: flex;
    height: auto;
  }
  .top>div{
    width: auto;
    height: auto;
    padding-right: 45px;
    margin: 3px;
  }
  .bottom{
    display: flex;
    margin-top: 23px;
  }
  .bottom>div{
    width: 130px;
    height: auto;
    padding-right: 45px;
    margin: 3px;
  }
  .top>div>p{
    line-height: 0;
    font-size: 13px;
    padding: 11px 0;
    color: grey;
    /* margin: 0; */
  }

  .bottom>div>p{
    line-height: 0;
    font-size: 13px;
    padding: 11px 0;
    color: grey;
    /* margin: 0; */
  }
  #headerbottomcontainer{
    display: flex;
    margin-bottom: -10px;
    margin: auto;
  }
