 *{
     margin: 0;
     padding: 0;
 }
 #container{
  width: 100%;
  height: 50px;
  background-color: rgb(243,243,243);
 display: flex;
 }
 img{
    margin-left: 150px;
}
 i{
     
     color: brown;
     color: rgb(241,107,104);
     font-size: 19px;
 }
 #line{
     margin: auto 20px;
     font-weight: bold;
 }
 #fontaws{
     margin: auto 5px;
 }
 #storelocator{
  margin: auto 8px;
 }
#checkoutText{
    display: inline-block;
    
}
#fontstar1,#fontstar2{
   display: inline-block;
}
#fontstar1{
   margin: 14px 15px auto 111px;
}
#fontstar2{
    margin: 14px 111px auto 15px;
}
#rightIcon{
    display: inline-block;
}
#flex{
    display: flex;
    justify-content: space-evenly;
    width: 456px;
}