 *{
     margin: 0;
     padding: 0;
 }
 #container{
  width: 100%;
  height: 50px;
  background-color: rgb(243,243,243);
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 }

 #leftcontainer{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }
img{
  width: 120px;
    height: 42px;
}

 #centercontainer{
     display: flex;
     justify-content: space-evenly;
 }

 #rightcontainer{
     display: flex;
     justify-content: space-evenly;
 }

p{
    padding: 15px;
}
#leftcontainer>div>i,#rightcontainer>i{
    margin-top: 15px;
    color: rgb(241,107,104);
}

#centercontainer>.starcolor1{
    color: rgb(241,107,104);
}

.fontstar2{
    display: flex;
    align-items: center;
}

.fontstar2>:nth-child(1){
    color: rgb(112,66,129);
    margin: 3px;
}

.fontstar2>:nth-child(2){
     color: rgb(251,192,0);
     margin: 3px;
}

.fontstar2>:nth-child(3){
    color: rgb(236,20,140);
    margin: 3px;
}

#middlecontainer{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
}
#middlecontainer>div{
  height: 80px;
  width: 390px;
}
#middlecontainer>div{
  color:rgb(248,83,168);
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
  font-size: 20px;
  border: 0;
  border-radius: 7px;
  margin-bottom: 4px;
  margin-left: 5px;
}
#middlecontainer>:nth-child(1)>div>i{
  font-size: 20px;
  margin-left: 24px;
}
br{
  border: 0.1px solid rgb(32, 32, 32);
  /* color: 1px solid rgb(32, 32, 32); */
}
#middlecontainer>:nth-child(2)>p{
  color: black;
  font-size: 40px;
}
/* middle header of container Done */
#headerbottomcontainer{
  width: 75%;
  height: 65px;
  margin: auto;
}
/* Header CSS is done */
/* #mainbodypart{
  width: 100%;
  height: 600px;

} */
#bottomfirstcontainer{
  width: 100%;
  height: 160px;
  display: block;
  margin: auto;
  background-color: rgb(242,242,242);
}
#bottomfirstcontainer>div{
  margin: auto 380px;
  height: 50%;
}
#topbottomnewstext{
  padding-top: 53px;
  font-size: 28px;
} 

#email{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 23px;
}
#subscribeinput{
  WIDTH: 365PX;
  height: 53px;
  padding-left: 14px;
}
#subscribebutton{
    font-size: 22px;
    color: white;
    font-weight: bold;
    background: black;
    padding: 13px 25px;
}
/* Bottom 1st containrer done */
/* bottom 2nd started */
#bottomsecontcontainer{
  width: 80%;
  height:auto;
  margin: auto;
  color: grey;
  margin-top: 30px;
}
.sephorabox{
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}
.sephorabox>:nth-child(2){
  font-weight: normal;
  font-size: 14px;
}
.headersaphora{
  padding-bottom: 0;
}
#longtextatbottom{
   text-align: center;

}
/* 2nd bottom is done */
/* last bottom started */
#iconbottomdiv{
  width: 55%;
  height: auto;
  margin: auto;
}
#iconbottomdiv>:nth-child(1){
 display: flex;
 justify-content: center;
}
#iconbottomdiv>:nth-child(1)>h3{
  margin: 40px auto;
  color: black;
  font-size: 18px;
}
#socialmediaicon{
  display: flex;
  width: 50%;
  margin: auto;
}
#socialmediaicon>i{
  color: black;
}
#socialmediaicon>i{
  margin: 0px auto;
}
#iconbottomdiv>:nth-child(3){
  display: flex;
  width: 60%;
  height: auto;
  margin: 33px auto;
}
#iconbottomdiv>:nth-child(3)>p{
  margin: auto;
  font-size: 12px;
}
/* bottom icon is done */
#extremebottom{
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
}
#extremebottom>div>h3{
  color: black;
  margin-top: 34px;
}
#extremebottom>div>p{
  padding-bottom: 7px;
}