*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto",sans-serif;
    background: #f7f6ff;
}
h2{
    margin: 16px;
}
.container{
    margin-top: 60px;
    padding:25px
}
.select-box{
    display: flex;
    width: 400px;
    flex-direction: column;

}
.select-box .options-container{
    background-color: #2f3640;
    color: #f5f6fa;
max-height: 0;
width: 60%;
opacity: 0;
transition: all 0.4s;
border-radius: 8px;
overflow: hidden;
order: 1;
}
 .selected{
    background: #0d141f;
    width: 300px;
    height: 30px;
    text-align: auto;
    padding-top:6px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    order: 0;
}

 .selected::after {
    content: "";
   background: url("img/arrow-down.svg");
   background-size:contain ;
   background-repeat: no-repeat;
   position: absolute;
   height:10%;
   width: 32px;
   right:10px;
   top:5px;
   transition: all 0.4s;
}
.select-box .options-container.active{
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box .options-container.active + .selected::after{
   transform: rotateX(180deg);
   top:-6px;
}

.select-box .options-container::-webkit-scrollbar{
width: 8px;
background-color: #0d141f;
border-radius: 0 8px 8px 0;
}
.select-box .options-container::-webkit-scrollbar-thumb{
   color:  #2f3640;
}

.select-box .option,
selected {
   padding: 12px 24px;
   cursor: pointer;
}
.select-box.option:hover{
    background: #414b57;
}
.select-box .option .radio{
    display: none;
}